<div class="aUyidf">
    <div class="container">
        <div class="col-md-4 offset-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">สมัครสมาชิก</h5>
                    <p class="card-text"> </p>
                    <form [formGroup]="registerForm" (ngSubmit)="submitForm()" accept-charset="UTF-8"
                        autocomplete="off">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" formControlName="username"
                                    type="text" required />
                            </div>
                            <div *ngIf="form.username.invalid && (form.username.dirty || form.username.touched)"
                                class="alert alert-danger">
                                <div *ngIf="form.username.errors.required">
                                    Username is required.
                                </div>
                                <div *ngIf="form.username.errors.minlength">
                                    Username must be at least 4 characters long.
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="Password" formControlName="password"
                                    type="password" required />
                            </div>
                            <div *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)"
                                class="alert alert-danger">
                                <div *ngIf="form.password.errors.required">
                                    Password is required.
                                </div>
                                <div *ngIf="form.password.errors.minlength">
                                    Password must be at least 4 characters long.
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="ชื่อผู้ใช้งาน" formControlName="user_name"
                                    type="text" required />
                            </div>
                            <div *ngIf="form.user_name.invalid && (form.user_name.dirty || form.user_name.touched)"
                                class="alert alert-danger">
                                <div *ngIf="form.user_name.errors.required">
                                    Name is required.
                                </div>
                                <div *ngIf="form.user_name.errors.minlength">
                                    Name must be at least 4 characters long.
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="นามสกุล" formControlName="user_lastname"
                                    type="text" required />
                            </div>
                            <div *ngIf="form.user_lastname.invalid && (form.user_lastname.dirty || form.user_lastname.touched)"
                                class="alert alert-danger">
                                <div *ngIf="form.user_lastname.errors.required">
                                    Last-Name is required.
                                </div>
                                <div *ngIf="form.user_lastname.errors.minlength">
                                    Last-Name must be at least 4 characters long.
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="ที่อยู่" formControlName="user_address"
                                    type="text" required />
                            </div>
                            <div *ngIf="form.user_address.invalid && (form.user_address.dirty || form.user_address.touched)"
                                class="alert alert-danger">
                                <div *ngIf="form.user_address.errors.required">
                                    Address is required.
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="เบอร์โทร" formControlName="user_tel"
                                    type="text" required />
                            </div>
                            <div *ngIf="form.user_tel.invalid && (form.user_tel.dirty || form.user_tel.touched)"
                                class="alert alert-danger">
                                <div *ngIf="form.user_tel.errors.required">
                                    Phone Number is required.
                                </div>
                                <div *ngIf="form.user_tel.errors.minlength">
                                    Phone Number must be at least 10 characters long.
                                </div>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                    formControlName="gender" name="gender" value="F" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    หญิง
                                </label>
                                <br>
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                    formControlName="gender" name="gender" value="M">
                                <label class="form-check-label" for="exampleRadios1">
                                    ชาย
                                </label>
                            </div>

                            <button class="btn btn-lg btn-success btn-block">
                                ตกลง
                            </button>
                            <button class="btn btn-lg btn-danger btn-block" (click)="resetForm()">
                                ยกเลิก
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>